@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

body {
  box-sizing: border-box;
  display: flex;
  font-family: 'Oleo Script';
  background-color: #fddcbc;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  margin: 21px 0;
  color: #ffac22;
  font-size: 38pt;
  text-align: center;
  text-shadow: -1px 1px #242424;
}

#top-text span {
  font-size: 16pt;
}

.trademark-symbol {
  padding-left: 8px;
  align-self: flex-start;
}

.side-name {
  padding: 0 24px;
  font-size: 16pt;
}

#drawing-pad {
  background-color: #bf2f19;
  border-radius: 54px;
  width: 70%;
  height: 70%;
}
