@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fddcbc;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#sketch-board {
  display: flex;
  flex-direction: column;
  background-color: #bf2f19;
  border-radius: 54px;
  width: 860px;
  height: 840px;
  justify-content: space-evenly;
}

#top-board {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffac2f;
  font-size: 41pt;
  text-shadow: -1px 1px 2px #323232;
  margin: 0;
}

#main-name,
#registered-trademark {
  font-family: 'Oleo Script';
}

#main-name a {
  text-decoration: none;
  color: #ffac2f;
}

#registered-trademark {
  font-size: 15pt;
  padding: 6px 0 0 8px;
  align-self: flex-start;
}

.top-side-text,
footer,
#bottom-board {
  font-family: Helvetica, sans-serif;
}

.top-side-text {
  font-style: italic;
  padding: 0 25px;
  font-size: 17pt;
}

#grid-container {
  display: grid;
  align-self: center;
  width: 600px;
  height: 600px;
  cursor: crosshair;
}

.grid-square {
  background-color: #ececec;
}

#bottom-board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  font-size: 11pt;
  gap: 13px;
  color: white;
}

.regular-button {
  height: 82%;
  padding: 0 16px;
  border-radius: 8px;
  background-color: #eaeaea;
  border: none;
  transform: scale(1);
  font-size: 11pt;
  font-weight: 600;
  box-shadow: -1px 2px 0.3rem #8a2f19;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.regular-button:hover {
  cursor: pointer;
  margin-bottom: 4px;
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.regular-button:active {
  transform: scale(1);
}

#change-grid-size {
  height: 36px;
}

#grid-size-container p {
  text-align: center;
  margin: 0;
  padding: 0 0 2px 0;
}

.selected-mode {
  margin-bottom: 4px;
  box-shadow: -1px 4px 0.3rem #8a2f19;
  background-color: #cfcfcf;
}

.selected-mode:active {
  transform: scale(1.1);
}

#grid-container div:first-child {
  border-top-left-radius: 12px;
}

#top-right-square {
  border-top-right-radius: 12px;
}

#bottom-left-square {
  border-bottom-left-radius: 12px;
}

#grid-container div:last-child {
  border-bottom-right-radius: 12px;
}

.fa-github,
footer {
  color: black;
}

footer {
  margin-top: 21px;
  font-weight: 600;
}

footer a {
  font-size: 22px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
  animation: shake 0.75s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
